#box{
    display: flex;
    flex-direction: column;
    width: 600px;
    border: solid 4px black;
    border-radius: 100px;
    align-items: center;
    justify-self: center;
    margin-top: 15px;
    padding: 15px;
}
.tana{
    margin: 15px;
}
#header{
    font-family: 'Courier New', Courier, monospace;
}
.lista{
    flex-direction: row;
    justify-content: space-around;
    justify-items: space-around;
    width: 400px;
}
.input{
    flex-wrap: warp;
}
.snapFont{
    font-size:larger;
}
#divlis{
    display: flex;
    flex-wrap: warp;
    justify-content: space-between;
}
button{
    margin: 10px;
}